#info {
    color: #f5f5f5;
    position: absolute;
    top: 20px;
    left: 200px;
    background-color: #7b98bc;
}

#matchResult {
    position: absolute;
    top: 50px;
    left: 185px;
    width: 400px;
    height: 300px;
}

#actionDiv {
    position: absolute;
    top: 510px;
    left: 200px;
    width: 400px;
    height: 300px;
}

#resultContainer {
    width: 425px;
    height: 450px;
    overflow-y: auto;
    background: #7b98bc;
    color: #f5f5f5;
    display: none;
}

#matchProcessing {
    width: 370px;
    height: 60px;
    font-size: 14px;
    background: #7b98bc;
    color: #f5f5f5;
}

.btn-link {
    color: #f5f5f5 !important;
}

th {
    text-align: center
}

.table-condensed tbody tr.highlight td {
    background-color: #7b98bc;
}

#action_info {
    display: none;
}

#action {
    display: none;
}

#action_res {
    display: none;
}

.db-set {
    top: 65px;
    left: .5em;
}

.table-set {
    top: 95px;
    left: .5em;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "x";
}